<!-- 
  .card>.card-body>h5.card-title 
-->

<div class="card">
  <div class="card-body">

    
    <h5 class="card-title">
      <ng-content select="title">
      </ng-content>
    </h5>
    
    <ng-content></ng-content>
    
  </div>
  <div class="card-footer">
    <ng-content select="footer">
    </ng-content>
  </div>
</div>

<style>
  .card-footer:empty {
    display: none;
  }
</style>