<!-- https://getbootstrap.com/docs/4.3/components/navbar/#nav -->

<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand"
    [routerLinkActiveOptions]="{ exact:true }"
    routerLinkActive="active placki" routerLink="/">Music App</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active placki" routerLink="/playlists">Playlists</a>
        </li>
        <li class="nav-item" routerLinkActive="active placki">
          <a class="nav-link"  routerLink="/music">Search music</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <ng-template current-user let-user>
    {{user.name}}
  </ng-template> -->
<!-- 
  <ng-template [appUnless]="hide" 
  let-awesome let-dodatek="sosy"> 
<div>
Ala ma {{awesome}} i sos {{dodatek}}
</div>
</ng-template>

<div *appUnless="hide;
 let awesome; let dodatek = sosy">
BOB ma {{awesome}} i sos {{dodatek}}
</div> -->

<!-- <div class="col">

    <h1>{{title}}</h1>

    <button (click)="hide = !hide">Toogle {{hide}}</button>

    <app-music-search-view *ngIf="hide">
    </app-music-search-view>

</div> -->
