:host-context(.holiday-theme) p{
  color: hotpink;
}

:host(.bordered){
  border:1px solid black;
  display: block;
}


.list-group-item{
  border-left: 10px solid ;
}

/* 
::ng-deep p{
  color:red;
}
 */
/*  
:host ::ng-deep p{
  color:red;
}
 */