<p>tabs-examples works!</p>

<!-- https://material.angular.io/cdk/stepper/examples -->

<app-tabs>
  <app-tabs-nav></app-tabs-nav>

  <app-tab title="Ala">
    Ala lubi Placki
  </app-tab>

  <app-tab title="Bob">
    Bob lubi Alę
  </app-tab>

  <app-tab title="Placki">
    Placki lubią Boba
  </app-tab>
</app-tabs>

<!-- <app-tab>
  <app-tab-title>
    Bob
  </app-tab-title>
</app-tab> -->
