<!-- https://getbootstrap.com/docs/4.3/components/input-group/#button-addons -->

<div class="form-group mb-3" [formGroup]="queryForm">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    formControlName="query"
  />
  <p *ngIf="queryForm.pending">
    Please wait... checking...</p>

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.dirty || field.touched">
      <p *ngIf="field.hasError('required')">Field is required</p>
      <p *ngIf="field.getError('minlength') as error">
        Minimum {{ error.requiredLength }} characters
      </p>

      <p *ngIf="field.getError('censor') as error">
        Cannot contain word {{ error.badword }}
      </p>
    </ng-container>
  </ng-container>
</div>

<!-- <div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    #queryInputRef
    (keyup.enter)="search(queryInputRef.value)"
  />

  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      (click)="search(queryInputRef.value)">
      Search
    </button>
  </div>
</div>
 -->
